.block-post-button {
  cursor:           pointer;
  color:            white;
  vertical-align:   middle;
  text-align:       center;
  display:          table-cell;
  font-weight:      bold;
  background-color: darkred;
  width:            20px;
  height:           20px;
  position:         absolute;
  top:              0;
  right:            0;
  margin-right:     -30px;
  border-radius:    3px;
  border:           1px solid red;
}
